# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.env/

# VS Code
.vscode/

# PyCharm
.idea/

# Build
build/
dist/

# Logs
*.log

# Cache
.pytest_cache/
.mypy_cache/

# Windows
Thumbs.db
Desktop.ini

# Matplotlib
.matplotlib/

# Jupyter
.ipynb_checkpoints/